*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
}
header{
    border-bottom: 2px solid gray;
    width: 100%;
    height: 100px;
    background-color: rgb(235, 229, 229);
    
}

header .logo{
    width: 15%;
    text-align: center;
    float: left;
    margin-left: 80px;
    margin-top: 5px;
    line-height: 20%;
    font-size: 30px;
    color: aliceblue;
    font-weight: bold;
    text-shadow: 0 0 5px rgb(255, 102, 0);
}

.logo a{
    text-decoration: none;
    font-weight: bold;
    color: aliceblue;
}

.dangnhap{
    border: 1px solid #ccc;
    border-radius: 12px;
    box-shadow: inset 0 0 3px 3px rgb(212, 210, 210) ;
    width: 600px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 20px;
}
.dangnhap label{
    font-size: 20px;
    font-weight: bold;
}
.dangnhap .in-form{
    width: 80%;
    margin: auto;
}
.dangnhap h1{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: rgb(255, 102, 0);
}
.dangnhap .in-form input{
    width: 100%;
    padding: 6px;
    height: 40px;
    font-size: 18px;
    outline: none;
    margin: auto;
    margin: 10px;
}
.dangnhap .in-form .dangnhap-btn{
    cursor: pointer !important;
    background-color: orange;
    border: 1px solid grey;
    color: white;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0px -2px 3px 1px gray;
    border-radius: 8px;
    width: 200px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    outline: none;
    transition: 0.3s;
}

.dangnhap .in-form .dangnhap-btn:hover{
    background-color: rgb(255, 102, 0);
}
.dangnhap .in-form .thongtin-btn{
    text-align: center;
    width: 400px;
    margin: auto;
    padding: 20px;
}
.dangnhap .in-form .thongtin-btn a{
    margin: 20px;
}

